[Unit]
Description=CAN Hat Setup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/can_tools/enable_can_hat.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
